@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "LicensePlate";
  src: url("../fonts/LicensePlate.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

@media (min-width: 1100px) {
  .settings-profile {
    grid-template-columns: 400px calc(100vw - 120px - 400px);
  }
}

@media (min-width: 760px) {
  .settings-profile {
    grid-template-columns: 400px calc(100vw - 100px - 400px);
  }
}

a {
  cursor: pointer;
}

input {
  cursor: pointer;
}

html,
body {
  overflow-x: hidden;
}

input::placeholder {
  font-size: 100% !important;
}

@media (max-width: 768px) {
  .containres {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ----------------------- Tailwind components ----------------------*/

.tw-page-heading {
  @apply text-[50px] xs:text-[30px] font-bold uppercase tracking-wide leading-none;
}

/* container large */
.tw-container {
  @apply w-[90vw] mx-auto;
}

/* container middle*/
.tw-container-middle {
  @apply lg:w-[60vw] w-[90vw] mx-auto;
}
